.App {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Take the full viewport height */
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
}
